<!-- product_detail.html -->

{% extends 'vehicle/base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      {% if product.image %}
        <img src="{{ product.image.url }}" class="img-fluid rounded shadow-lg" alt="{{ product.name }}">
      {% else %}
        <img src="{{ product.image.url }}" class="img-fluid rounded shadow-lg" alt="Placeholder Image">
      {% endif %}
    </div>
    <div class="col-md-6">
      <h2 class="text-primary">{{ product.name }}</h2>
      <p class="text-muted">Price: INR {{ product.price }}</p>
      <form action="{% url 'add_to_cart' product_id=product.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg">Add to Cart</button>
      </form>
    </div>
  </div>

  <hr class="my-4">

  <div class="row mt-4">
    <div class="col">
      <h3 class="text-primary">Description</h3>
      <p>{{ product.description }}</p>
    </div>
  </div>
</div>
{% endblock %}
