<!-- cart.html -->

{% extends 'vehicle/base.html' %}

{% block content %}
<div class="container mt-5">
  <h1>Shopping Cart</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
      <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>INR {{ item.product.price }}</td>
        <td>INR {{ item.item_total }}</td>
        <td>
          <form action="{% url 'remove_from_cart' product_id=item.product.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"><strong>Total:</strong></td>
        <td><strong>INR {{ total_price }}</strong></td>
        <td>
            <a href="{% url 'address' %}" class="btn btn-primary">Proceed to Address</a>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
{% endblock %}
